.characterSheet {
  width: 647px !important;
  height: 855px !important;
}
.characterSheet.app {
  max-height: 855px !important;
}
.characterSheet .window-content {
  padding: unset;
}
.characterSheet form {
  width: 647px !important;
  height: 855px !important;
}
.characterSheet form .wrapper {
  width: 647px !important;
  height: 825px !important;
  display: flex;
  flex-direction: column;
}
.characterSheet .box {
  background-color: rgba(72, 41, 11, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.characterSheet .container {
  background-color: rgba(72, 41, 11, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-block: 2px;
}
.characterSheet .fieldText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.characterSheet label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  white-space: nowrap;
}
.characterSheet input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border: none;
  background: transparent;
}
.characterSheet input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.characterSheet textarea {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border: none;
  background: transparent;
  resize: none;
}
.characterSheet textarea::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.characterSheet .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.characterSheet .field input {
  flex-grow: 1;
}
.characterSheet .field input:first-of-type:nth-last-of-type(1) {
  text-align: start;
}
.characterSheet .field input:first-of-type:nth-last-of-type(2) {
  text-align: end;
}
.characterSheet .field input[maxlength="1"] {
  width: 10px;
}
.characterSheet .field input[maxlength="2"] {
  width: 25px;
}
.characterSheet .field input[maxlength="3"] {
  width: 30px;
}
.characterSheet .field input[maxlength="5"] {
  width: 50px;
}
.characterSheet .multiFields {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.characterSheet .multiFields > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.characterSheet .multiFields > div input {
  flex-grow: 1;
}
.characterSheet .multiFields > div input:first-of-type:nth-last-of-type(1) {
  text-align: start;
}
.characterSheet .multiFields > div input:first-of-type:nth-last-of-type(2) {
  text-align: end;
}
.characterSheet .multiFields > div input[maxlength="1"] {
  width: 10px;
}
.characterSheet .multiFields > div input[maxlength="2"] {
  width: 25px;
}
.characterSheet .multiFields > div input[maxlength="3"] {
  width: 30px;
}
.characterSheet .multiFields > div input[maxlength="5"] {
  width: 50px;
}
.characterSheet .multiFields > div:last-of-type input:first-of-type {
  text-align: end;
}
.characterSheet .fieldArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.characterSheet .fieldArea textarea {
  padding-block: unset;
}
.characterSheet .sheet-tabs {
  height: 56px;
  background-image: url('../ui/character/banderole2.webp');
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  color: white;
  text-align: center;
  padding-block: 10px;
  padding-inline: 15px;
}
.characterSheet .sheet-tabs a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(72, 41, 11, 0.8);
  margin-inline: 2px;
  font-size: 1.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
}
.characterSheet .sheet-tabs a:hover {
  color: yellow;
}
.characterSheet .sheet-tabs a.active {
  color: orange;
}
.characterSheet .sheet-body {
  flex-grow: 1;
}
.characterSheet .sheet-body .tab {
  height: 100%;
  background-image: url('../ui/character/page_vierge2.webp');
}
.characterSheet .sheet-body .tab.characterTab {
  background-image: url('../ui/character/page_perso_jdr_stats_off2.webp');
}
.characterSheet .sheet-body .tab.active {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 35px;
}
.characterSheet .sheet-body .tab-title {
  font-size: 1.3rem;
  color: white;
  height: 32px;
}
.characterSheet .sheet-body .tab.characterTab .attributes {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.characterSheet .sheet-body .tab.characterTab .attributes .left {
  height: fit-content;
  flex-basis: 255px;
}
.characterSheet .sheet-body .tab.characterTab .attributes .right {
  display: flex;
  flex-direction: column;
  flex-basis: 255px;
}
.characterSheet .sheet-body .tab.characterTab .attributes .right .racial div {
  font-size: 1rem;
  color: white;
  align-self: center;
}
.characterSheet .sheet-body .tab.characterTab .attributes .right .racial textarea {
  padding-block: unset;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed input {
  width: 30px;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed .box {
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed .box input {
  text-align: center;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed > div:first-of-type {
  height: 80px;
  width: 80px;
  background-image: url('../ui/character/vitesse.webp');
  background-size: contain;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed > div:last-of-type {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../ui/character/star.webp');
  background-size: contain;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed > div:last-of-type label {
  margin-inline-start: 10px;
  margin-block-start: 5px;
}
.characterSheet .sheet-body .tab.characterTab .attributes .speed > div:last-of-type input {
  text-align: start;
  margin-block-start: 5px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 {
  top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 div:first-of-type {
  right: 30px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 div:not(:first-of-type) {
  left: 30px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 label {
  text-shadow: black 0px 0px 5px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-1 input {
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  background-image: url('../ui/character/stats2.webp');
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 {
  top: -45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 div:first-of-type {
  right: 120px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 div:not(:first-of-type) {
  left: 120px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 label {
  text-shadow: black 0px 0px 5px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-2 input {
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  background-image: url('../ui/character/stats2.webp');
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 {
  top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 div:first-of-type {
  right: 120px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 div:not(:first-of-type) {
  left: 120px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 label {
  text-shadow: black 0px 0px 5px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-3 input {
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  background-image: url('../ui/character/stats2.webp');
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 {
  top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 div:first-of-type {
  right: 30px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 div:not(:first-of-type) {
  left: 30px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 label {
  text-shadow: black 0px 0px 5px;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .rowStats-4 input {
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  background-image: url('../ui/character/stats2.webp');
}
.characterSheet .sheet-body .tab.characterTab .hpmp {
  width: 100%;
  top: -30px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp,
.characterSheet .sheet-body .tab.characterTab .hpmp .hp,
.characterSheet .sheet-body .tab.characterTab .hpmp .mp {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .header {
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp {
  right: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input {
  flex-grow: 1;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input:first-of-type:nth-last-of-type(1) {
  text-align: start;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input:first-of-type:nth-last-of-type(2) {
  text-align: end;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input[maxlength="1"] {
  width: 10px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input[maxlength="2"] {
  width: 25px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input[maxlength="3"] {
  width: 30px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp input[maxlength="5"] {
  width: 50px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .hp label:last-of-type {
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-inline-start: 25px;
  color: red;
  text-shadow: 0px 0px 5px #000000;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .avatar {
  z-index: 50;
  height: 220px;
  width: 220px;
  background-image: url('../ui/character/background.webp');
  background-size: contain;
  object-fit: contain;
  border-radius: 50%;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp {
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input {
  flex-grow: 1;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input:first-of-type:nth-last-of-type(1) {
  text-align: start;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input:first-of-type:nth-last-of-type(2) {
  text-align: end;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input[maxlength="1"] {
  width: 10px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input[maxlength="2"] {
  width: 25px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input[maxlength="3"] {
  width: 30px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp input[maxlength="5"] {
  width: 50px;
}
.characterSheet .sheet-body .tab.characterTab .hpmp .mp label:first-of-type {
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-inline-end: 25px;
  color: blue;
  text-shadow: 0px 0px 4px #ffffff;
}
.characterSheet .sheet-body .tab.characterTab .level {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -55px;
  z-index: 10;
}
.characterSheet .sheet-body .tab.characterTab .level label,
.characterSheet .sheet-body .tab.characterTab .level input {
  color: #fff500;
}
.characterSheet .sheet-body .tab.characterTab .level input::placeholder {
  color: #fff500;
}
.characterSheet .sheet-body .tab.characterTab .level > label {
  margin-block-end: 5px;
}
.characterSheet .sheet-body .tab.characterTab .level > input {
  width: 40px;
  height: 40px;
  text-align: center;
  background-size: contain;
  background-position: center;
  box-shadow: 0px 0px 10px 5px green;
  border-radius: 50%;
  margin-top: 5px;
}
.characterSheet .sheet-body .tab.characterTab .level .xp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input {
  flex-grow: 1;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input:first-of-type:nth-last-of-type(1) {
  text-align: start;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input:first-of-type:nth-last-of-type(2) {
  text-align: end;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input[maxlength="1"] {
  width: 10px;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input[maxlength="2"] {
  width: 25px;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input[maxlength="3"] {
  width: 30px;
}
.characterSheet .sheet-body .tab.characterTab .level .xp input[maxlength="5"] {
  width: 50px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 180px;
  bottom: 35px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div {
  width: 255px;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div .stat {
  width: 100%;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div .stat img {
  z-index: 10;
  border: unset;
  position: relative;
  top: -10px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div .stat input {
  text-align: center;
  width: 30px;
  height: 20px;
  background-color: #aa7a46;
  box-shadow: 0px 0px 12px 0px black;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks {
  right: 32px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks > div {
  width: 100%;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks > div img {
  z-index: 10;
  border: unset;
  position: relative;
  top: -10px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks > div input {
  text-align: center;
  width: 30px;
  height: 20px;
  background-color: #aa7a46;
  box-shadow: 0px 0px 12px 0px black;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks > div img {
  height: 60px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks > div input {
  top: -23px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .perforant img {
  content: url('../ui/character/perforant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .tranchant img {
  content: url('../ui/character/tranchant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .contondant img {
  content: url('../ui/character/contondant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .feu img {
  content: url('../ui/character/feu.webp');
  top: -10px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .eau img {
  content: url('../ui/character/eau.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .nature img {
  content: url('../ui/character/nature.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .air img {
  content: url('../ui/character/air.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .occulte img {
  content: url('../ui/character/occulte.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .spirituel img {
  content: url('../ui/character/spirituel.webp');
  height: 40px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .spirituel input {
  top: -12px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .lumiere img {
  content: url('../ui/character/lumiere.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.attacks .tenebre img {
  content: url('../ui/character/tenebre.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense {
  left: 32px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense > div {
  width: 100%;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense > div img {
  z-index: 10;
  border: unset;
  position: relative;
  top: -10px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense > div input {
  text-align: center;
  width: 30px;
  height: 20px;
  background-color: #aa7a46;
  box-shadow: 0px 0px 12px 0px black;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense > div img {
  height: 70px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense > div input {
  top: -28px;
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .perforant img {
  content: url('../ui/character/def_perforant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .tranchant img {
  content: url('../ui/character/def_tranchant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .contondant img {
  content: url('../ui/character/def_contondant.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .feu img {
  content: url('../ui/character/def_feu.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .eau img {
  content: url('../ui/character/def_eau.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .nature img {
  content: url('../ui/character/def_nature.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .air img {
  content: url('../ui/character/def_air.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .occulte img {
  content: url('../ui/character/def_occulte.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .spirituel img {
  content: url('../ui/character/def_spirituel.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .lumiere img {
  content: url('../ui/character/def_lumiere.webp');
}
.characterSheet .sheet-body .tab.characterTab .bonusStats > div.defense .tenebre img {
  content: url('../ui/character/def_tenebre.webp');
}
.characterSheet .sheet-body .tab.inventoryTab .consumable {
  flex-grow: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.characterSheet .sheet-body .tab.inventoryTab .consumable .header div {
  background-image: url('../ui/character/consommable.webp');
}
.characterSheet .sheet-body .tab.inventoryTab .consumable .container {
  flex-basis: 120px;
}
.characterSheet .sheet-body .tab.inventoryTab .header {
  display: flex;
  flex-direction: row;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}
.characterSheet .sheet-body .tab.inventoryTab .header div {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.characterSheet .sheet-body .tab.inventoryTab .header label {
  align-self: center;
  margin-inline-start: 10px;
  font-size: 18px;
}
.characterSheet .sheet-body .tab.inventoryTab .item {
  width: 100%;
  max-height: 55px;
  background-color: rgba(176, 125, 70, 0.65);
  border-radius: 5px;
  margin-block: 2px;
  padding-block-end: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
}
.characterSheet .sheet-body .tab.inventoryTab .item input,
.characterSheet .sheet-body .tab.inventoryTab .item input::placeholder,
.characterSheet .sheet-body .tab.inventoryTab .item label,
.characterSheet .sheet-body .tab.inventoryTab .item textarea,
.characterSheet .sheet-body .tab.inventoryTab .item textarea::placeholder {
  font-size: 12px;
}
.characterSheet .sheet-body .tab.inventoryTab .item .multiFields > div:first-of-type {
  height: 20px;
}
.characterSheet .sheet-body .tab.inventoryTab .item .fieldArea .textarea {
  min-height: 30px;
}
.characterSheet .sheet-body .tab.inventoryTab .item > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-inline: 5px;
  flex-grow: 1;
}
.characterSheet .sheet-body .tab.inventoryTab .item > div:last-of-type {
  flex-basis: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block-start: 5px;
}
