.fieldText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

label {
    .fieldText();        
    white-space: nowrap
}

input {
    .fieldText();

    border: none;
    background: transparent;

    &::placeholder {
        .fieldText();
    }
}

textarea {
    .fieldText();

    border: none;
    background: transparent;
    resize: none;

    &::placeholder {
        .fieldText();
    }
}

.box {
    background-color: rgba(72, 41, 11, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    padding: 5px;

    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {        
    .box();
    overflow-y: scroll;
    overflow-x: hidden;
    padding-block: 2px;        
}

.addButton {
    color:orange;
    align-self:center;
    background-color: black;
    border-radius: 50%;

    &:hover {
        background-color:  white;
    }
}  

.field {
    & {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
    }

    input {
        & {
            flex-grow: 1;                
        }
        
        &:first-of-type:nth-last-of-type(1){
            text-align: start;
        }

        &:first-of-type:nth-last-of-type(2){
            text-align: end;
        }         

        &[maxlength="1"]{
            width: 10px;
        }

        &[maxlength="2"]{
            width: 25px;
        }

        &[maxlength="3"]{
            width: 30px;
        }

        &[maxlength="5"]{
            width: 50px;
        }
    }
}

.multiFields {         
    & {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    > div {
        .field();
    }
}

.multiFields-start {
    .multiFields();
    justify-content: flex-start;
}

.multiFields-spaced {
    .multiFields();
    justify-content: space-between;
}

.fieldArea {
    & {
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    textarea {
        padding-block: unset;
    }
}

.item {
    & {
        width:100%;        
        background-color: rgba(176, 125, 70, 0.65);
        border-radius: 5px;
        margin-block: 2px;
        padding-block-end: 5px;

        display: flex;
        flex-direction: row;

        flex-grow: 0;
        flex-shrink: 0;

        overflow: hidden;
    }

    input,input::placeholder,label,textarea,textarea::placeholder {
        font-size: 12px;
    }

    .multiFields-start, .multiFields-spaced, .field {
        height: 20px;
    }

    .fieldArea {
        textarea {
            min-height: 30px;
        }        
    }

    &-data {
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        padding-inline: 5px;
        flex-grow:1;
    }

    &-actions {
        flex-basis:20px;
        flex-shrink:0;
        flex-grow:0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-block-start: 5px;
        
        i {
            color:darkred;
        }
    }
}

.avatar {
    z-index: 50;    
    background-image: url('../ui/actors/avatar.webp');
    background-size: contain;
    object-fit: contain;
    border-radius: 50%;
}

.statsSummary {
    & {
        width:100%;
        flex-grow: 1;

        display:flex;
        flex-direction:column;
        justify-content: center;
    
        position: absolute;
        bottom: 35px;
        padding-inline: 35px;
    }

    label {
        width:110px;
        position: relative;
        top: 20px;
    }

    img {
        height: 50px;
        width: 40px;

        border:none;
        position:relative;
        top:10px;
    }

    input {
        width: 30px;
        height: 20px;

        text-align: center;

        background-color: rgb(170,122,70);
        box-shadow: 0px 0px 12px 0px black;
        border-radius: 50%;
        
        z-index: 20;
        margin-inline:5px
    }

    > div {
        display:flex;
        flex-direction: row;
        width:100%;
        align-items:center;
        flex-grow: 1;
    }

    .stats {
        & {
            flex-grow:1;
            height:100%;
        
            display: flex;
            justify-content: space-between;
        }
        
        &-block {
            & { 
                height:100%; 
                flex-grow: 0;

                display:flex;
                justify-content: center;
                align-items:center;
            }

            > div {
                height:100%;
                width:40px;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .attacks { 
        .piercing {                      
            img {
                content: url('../ui/actors/atk_piercing.webp');
            }
        }

        .slash{          
            img {
                content: url('../ui/actors/atk_slash.webp');
            }
        }

        .contondant{          
            img {
                content: url('../ui/actors/atk_contondant.webp');
            }
        }

        .fire{          
            img {
                content: url('../ui/actors/atk_fire.webp');
            }
        }
        
        .water{         
            img {
                content: url('../ui/actors/atk_water.webp');
            }
        }
        
        .nature{          
            img {
                content: url('../ui/actors/atk_nature.webp');
            }
        }

        .air{          
            img {
                content: url('../ui/actors/atk_air.webp');
            }
        }
        
        .occult{          
            img {
                content: url('../ui/actors/atk_occult.webp');
            }
        }  
        
        .spirit{          
            img {
                content: url('../ui/actors/atk_spirit.webp');
                height: 40px;
            }
            input{
                position: relative;
                top: 5px;
            }                
        }  
        
        .light{        
            img {
                content: url('../ui/actors/atk_light.webp');
            }
        } 
        
        .darkness{          
            img {
                content: url('../ui/actors/atk_darkness.webp');
            }
        }            
    }

    .defense{
        .piercing {                      
            img {
                content: url('../ui/actors/def_piercing.webp');
            }
        }

        .slash{          
            img {
                content: url('../ui/actors/def_slash.webp');
            }
        }

        .contondant{          
            img {
                content: url('../ui/actors/def_contondant.webp');
            }
        }

        .fire{          
            img {
                content: url('../ui/actors/def_fire.webp');
            }
        }
        
        .water{         
            img {
                content: url('../ui/actors/def_water.webp');
            }
        }
        
        .nature{          
            img {
                content: url('../ui/actors/def_nature.webp');
            }
        }

        .air{          
            img {
                content: url('../ui/actors/def_air.webp');
            }
        }
        
        .occult{          
            img {
                content: url('../ui/actors/def_occult.webp');
            }
        }  
        
        .spirit{          
            img {
                content: url('../ui/actors/def_spirit.webp');
            }             
        }  
        
        .light{        
            img {
                content: url('../ui/actors/def_light.webp');
            }
        } 
        
        .darkness{          
            img {
                content: url('../ui/actors/def_darkness.webp');
            }
        }  
    }
}

.resistance{
    & {
        display:flex;
        flex-direction: row;
        flex-basis: 45px;        
        margin-top:5px;
    }

    > div {    
        display:grid;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(3, 15px); 
        
        padding-inline-start: 5px;
    }
}

.attributes-block {
    & {
        width: 100%;
        flex-basis: 120px;

        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    > div {
        & {
            width:100%;
            height:100%;

            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }

        &:nth-last-of-type(-n+3) {
            margin-block-start: 5px;
        }
    }

    label {
        height: 30px;
        
        background-color: rgba(72, 41, 11, 0.5);
        border-radius: 5px;
        
        padding-inline: 10px;
        padding-top: 5px;
    }

    input {
        width: 40px;

        text-align: center;
        background-color: rgba(72, 41, 11, 0.5);
        border-radius: 5px; 
    }
}

.activeCapacitiescontainer {
    & {
        .container();
        width: 100%;
        flex-basis: 350px;
    }

    .item {
        & {
            flex-basis:140px;
        }

        .range, .cast {
            flex-basis:180px;
        }

        .target, .duration {
            flex-basis:120px;
        }

        .lineOfSight, .test {
            flex-grow:1;
            justify-content:end;
        }

        .field {
            width: 100%;
        }
    }
}

.passiveCapacitiesContainer {
    .container();
    width: 100%;
    flex-basis: 200px;

    margin-top: 20px;
}

.weaponContainer {
    .container();
    
    width:100%;
    flex-basis: 200px;
    
    margin-block-start: 20px;

    .multiFields {
        height: 20px;

       &:nth-of-type(2) > div:nth-of-type(2) {
            margin-inline-start: 80px;
        }
    }
}