@banner-height: 56px;

.characterSheet  {
    &{
        width: 647px !important;
        height: 855px !important;
    }

    &.app {
        max-height: 855px !important;
    }

    .window-content{
        padding: unset;
    }

    form {
        &{
            width: 647px !important;
            height: 855px !important;
        }

        .wrapper {
            width: 647px !important;;
            height: 825px !important;;

            display: flex;
            flex-direction: column;
        }
    }

    .box {
        background-color: rgba(72, 41, 11, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        padding: 5px;

        flex-grow: 0;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .fieldText {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: white;
    }

    label {
        .fieldText();        
        white-space: nowrap
    }

    input {
        .fieldText();

        border: none;
        background: transparent;

        &::placeholder {
            .fieldText();
        }
    }

    textarea {
        .fieldText();

        border: none;
        background: transparent;
        resize: none;

        &::placeholder {
            .fieldText();
        }
    }

    .field {
        & {
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:flex-start;
        }

        input {
            & {
                flex-grow: 1;                
            }
            
            &:first-of-type:nth-last-of-type(1){
                text-align: start;
            }

            &:first-of-type:nth-last-of-type(2){
                text-align: end;
            }            

            &[maxlength="1"]{
                width: 10px;
            }

            &[maxlength="2"]{
                width: 25px;
            }

            &[maxlength="3"]{
                width: 30px;
            }
        }
    }

    .multiFields {
        & {
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:space-between;
        }

        > div {
            .field();            

            &:last-of-type{
                input:first-of-type{
                    text-align: end;
                }
            }
        }
    }

    .fieldArea {
        & {
            display:flex;
            flex-direction:row;
            justify-content: flex-start;
            align-items: flex-start;
        }

        textarea {
            flex-grow:1;
            padding-block: unset;
        }
    }

    .sheet-tabs {
        height: @banner-height;
        background-image: url('../ui/character/banderole2.webp');
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: stretch;
        color: white;
        text-align: center;

        padding-block: 10px;
        padding-inline: 15px;

        a {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: rgba(72, 41, 11, 0.8);
            
            margin-inline: 2px;
            font-size: 1.2rem;

            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            text-shadow: 1px 1px 2px black;

            &:hover {
                color: yellow;
            }

            &.active {
                color: orange;
            }
        }
    } 
    
    .sheet-body{
        &{
            flex-grow: 1;
        }

        .tab { 
            &{
                height: 100%;

                background-image: url('../ui/character/page_vierge2.webp');
            }

            &.characterTab {
                background-image: url('../ui/character/page_perso_jdr_stats_off2.webp');
            }

            &.active {
                display:flex;
                flex-direction:column;
                justify-content:flex-start;
                align-items:center;
                padding-inline: 35px;

                height: 100%;
            }            

            .tab-title {
                font-size:1.3rem;
                color:white;
                height:32px
            }

            @import 'tabs/characterTab.less';            
        }
    }
}

