<div class="attributes-block">
    <div>
        <label>Force</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Dextérité</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Arcane</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>


    <div>
        <label>Constitution</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Charisme</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Erudition</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>           
</div>