<div class="activeCapacitiescontainer" data-category="capacities">
    {{#each actor.system.capacities.activeCapacities as |capacity id|}}
        {{> "systems/dhs-jdr/templates/capacities/activeCapacity.hbs" capacity=capacity id=id}}
    {{/each}}          

    <i class="fas fa-plus-circle addItem" data-type="activeCapacities"></i>        
</div>

<div class="passiveCapacitiesContainer" data-category="capacities">
    {{#each actor.system.capacities.passiveCapacities as |capacity id|}}
        {{> "systems/dhs-jdr/templates/capacities/passiveCapacity.hbs" capacity=capacity id=id}}
    {{/each}}     

    <i class="fas fa-plus-circle addItem" data-type="passiveCapacities"></i>      
</div>