<div class="activeCapacitiescontainer">
    {{#each data.data.capacities.activeCapacities as |capacity id|}}
        {{> "systems/dhs-jdr/templates/capacities/activeCapacity.hbs" capacity=capacity id=id}}
    {{/each}}          

    <i class="fas fa-plus-circle addCapacity" data-type="activeCapacities"></i>        
</div>

<div class="passiveCapacitiesContainer">
    {{#each data.data.capacities.passiveCapacities as |capacity id|}}
        {{> "systems/dhs-jdr/templates/capacities/passiveCapacity.hbs" capacity=capacity id=id}}
    {{/each}}     

    <i class="fas fa-plus-circle addCapacity" data-type="passiveCapacities"></i>      
</div>