<div class="statsSummary">
    <div class="attacks">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.attack" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img ></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="slash">
                    <img ></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div  class="water">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div  class="nature">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div  class="air">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
            </div>
            
            <div class="stats-block">
                <div  class="occult">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="light">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                                   
            </div>
        </div>
    </div>

    <div class="defense">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.defense" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="slash">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="water">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="nature">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="air">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
            </div>
            
            <div class="stats-block">
                <div class="occult">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="light">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                                   
            </div>
        </div>
    </div>
</div>