<div class="statsSummary">
    <div class="attacks">
        <label>Degat Bonus :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="perforant">
                    <img ></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="tranchant">
                    <img ></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="feu">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div class="tranchant">   
                <div  class="eau">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div class="tranchant">   
                <div  class="nature">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div class="tranchant">   
                <div  class="air">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
            </div>
            
            <div class="stats-block">
                <div  class="occulte">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="spirituel">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="lumiere">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="tenebre">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                                   
            </div>
        </div>
    </div>

    <div class="defense">
        <label>Defense Bonus :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="perforant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="tranchant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="feu">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="eau">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="nature">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="air">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
            </div>
            
            <div class="stats-block">
                <div class="occulte">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>
                <div class="spirituel">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="lumiere">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>   
                <div class="tenebre">
                    <img></img>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                                                   
            </div>
        </div>
    </div>
</div>