<div class="weaponContainer">
    {{#with data.data.equipment.weapons}}
        {{> "systems/dhs-jdr/templates/equipment/weapon.hbs" weapon=weapon1 id=1}}
        {{> "systems/dhs-jdr/templates/equipment/weapon.hbs" weapon=weapon2 id=2}}
        {{> "systems/dhs-jdr/templates/equipment/weapon.hbs" weapon=weapon3 id=3}}
    {{/with}}      
</div>