<div class="weaponContainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Arme 1 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Arme 2 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Arme 3 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>          
</div>