<div class="title">{{title}}</div>
<div class="content">
    <div class="row">
        <div>Test DE</div>
        <select class="flex1" name="dice" id="dice" data-type="String">
            <option value="test">Test (1d20)</option>
            <option value="confront">Confrontation (1d20 + stats)</option>
        </select>
    </div>
    <div class="row">
        <div>Bonus</div>
        <input>
    </div>
    <div class="row">
        <div>Difficulté</div>
        <input maxlength="2">
    </div>   
</div>