.activeCapacitiescontainer {
    & {
        .container();
        width: 100%;
        flex-basis: 350px;
    }

    .item {
        & {
            flex-basis:140px;
        }

        .range, .cast {
            flex-basis:180px;
        }

        .target, .duration {
            flex-basis:120px;
        }

        .lineOfSight, .test {
            flex-grow:1;
            justify-content:end;
        }

        .field {
            width: 100%;
        }
    }
}

.passiveCapacitiesContainer {
    .container();
    width: 100%;
    flex-basis: 200px;

    margin-top: 20px;
}