<div class="item" data-type="passiveCapacities" data-index="{{id}}">
    <div class="item-data">
        <div class="multiFields-start">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.name" }} :</label>                
                <input type="text" maxlength="25" placeholder="-------------------------">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.level" }} :</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>
        </div>

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.effects" }} :</label>
            <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times deleteCapacity"></i>
    </div>
</div>