<div class="tab-title">Aptitude</div>
<div class="specializationContainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <!--Mock Data-->
    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div  class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>Spécialisation :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau spécialisation :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>Description spécialisation :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <i class="fas fa-plus-circle addButton"></i>      
</div>

<div class="racialAptitudesContainer">
    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>Capacité racial :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>Description :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <!--Mock Data-->
    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>Capacité racial :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>Description :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>Capacité racial :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>Description :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>Capacité racial :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>Description :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>Capacité racial :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>Description :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <i class="fas fa-plus-circle addButton"></i>                       
</div>

<div class="attributes-header">
    <label class="tab-title">Statistique personnage</label>
</div>

<div class="attributes-block">
    <div>
        <label>Force</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Dextérité</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Arcane</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>


    <div>
        <label>Constitution</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Charisme</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>Erudition</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>           
</div>