<div class="tab-title">Capacités</div>
<div class="box" style="width: 100%; flex-basis: 350px;">

</div>

<div class="box" style="width: 100%; margin-top: 20px; flex-basis: 200px;">

</div>

<div style="display:flex; flex-direction:column; width:100%;">
    <div style="display:flex; flex-direction: row; width:100%;">
        <label style="width:120px;">Degat Bonus :</label>
    </div>

    <div style="display:flex; flex-direction: row; width:100%;">
        <label style="width:120px;">Defense Bonus :</label>
    </div>

</div>