<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.capacities.Tab" }}</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/capacities.hbs"}}

{{> "systems/dhs-jdr/templates/actors/tabs/parts/statsSummary.hbs"}}