<div class="tab-title">Capacités</div>
<div class="activeCapacitiescontainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Compétence :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>
                <div>
                    <label>Coût :</label>
                    <input type="text" maxlength="5" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="range">
                    <label>Portée :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="target">
                    <label>Cible :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="lineOfSight">
                    <label>Ligne de vue :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="cast">
                    <label>Cast :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="duration">
                    <label>Durée :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="test">
                    <label>Test :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>                       

            <div class="field">
                <label>CC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>  
            <div class="field">
                <label>EC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>                  

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <!--Mock Data-->
    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Compétence :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>
                <div>
                    <label>Coût :</label>
                    <input type="text" maxlength="5" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="range">
                    <label>Portée :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="target">
                    <label>Cible :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="lineOfSight">
                    <label>Ligne de vue :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="cast">
                    <label>Cast :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="duration">
                    <label>Durée :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="test">
                    <label>Test :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>                       

            <div class="field">
                <label>CC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>  
            <div class="field">
                <label>EC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>                  

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Compétence :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>
                <div>
                    <label>Coût :</label>
                    <input type="text" maxlength="5" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="range">
                    <label>Portée :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="target">
                    <label>Cible :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="lineOfSight">
                    <label>Ligne de vue :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="cast">
                    <label>Cast :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="duration">
                    <label>Durée :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="test">
                    <label>Test :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>                       

            <div class="field">
                <label>CC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>  
            <div class="field">
                <label>EC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>                  

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Compétence :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>
                <div>
                    <label>Coût :</label>
                    <input type="text" maxlength="5" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="range">
                    <label>Portée :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="target">
                    <label>Cible :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="lineOfSight">
                    <label>Ligne de vue :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="cast">
                    <label>Cast :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="duration">
                    <label>Durée :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="test">
                    <label>Test :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>                       

            <div class="field">
                <label>CC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>  
            <div class="field">
                <label>EC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>                  

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-spaced">
                <div>
                    <label>Compétence :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>Niveau :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>
                <div>
                    <label>Coût :</label>
                    <input type="text" maxlength="5" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="range">
                    <label>Portée :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="target">
                    <label>Cible :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="lineOfSight">
                    <label>Ligne de vue :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>

            <div class="multiFields-spaced">
                <div class="cast">
                    <label>Cast :</label>                
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="duration">
                    <label>Durée :</label>
                    <input type="text" maxlength="10" placeholder="--------------------------------------------------">
                </div>
                <div class="test">
                    <label>Test :</label>
                    <input type="text" maxlength="20" placeholder="--------------------------------------------------">
                </div>                
            </div>                       

            <div class="field">
                <label>CC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>  
            <div class="field">
                <label>EC :</label>
                <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
            </div>                  

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>            

    <i class="fas fa-plus-circle addButton"></i>        
</div>

<div class="passiveCapacitiesContainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div>
                    <label>Passif :</label>                
                    <input type="text" maxlength="25" placeholder="-------------------------">
                </div>
                <div>
                    <label>Niv :</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>
            </div>

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

<!--Mock Data-->

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div>
                    <label>Passif :</label>                
                    <input type="text" maxlength="25" placeholder="-------------------------">
                </div>
                <div>
                    <label>Niv :</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>
            </div>

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div>
                    <label>Passif :</label>                
                    <input type="text" maxlength="25" placeholder="-------------------------">
                </div>
                <div>
                    <label>Niv :</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>
            </div>

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div>
                    <label>Passif :</label>                
                    <input type="text" maxlength="25" placeholder="-------------------------">
                </div>
                <div>
                    <label>Niv :</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>
            </div>

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div>
                    <label>Passif :</label>                
                    <input type="text" maxlength="25" placeholder="-------------------------">
                </div>
                <div>
                    <label>Niv :</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>
            </div>

            <div class="fieldArea">
                <label>Effets :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <i class="fas fa-plus-circle addButton"></i>      
</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/statsSummary.hbs"}}