<div style="display:flex;flex-direction:column;justify-content:center;align-items:center; padding-inline: 35px;">
    <div style="font-size:1.3rem;color:white; height:32px">Personnage</div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; height:200px">
        <div class="box" style="height:100px; flex-grow:1; margin-inline-end: 60px" >
            <div style="display:flex; flex-direction:row; justify-content: space-between">
                <div style="display:flex;flex-direction:row;align-items:center">
                    <label style="font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px; color: white;">Age</label>
                    <input type="text" maxlength="3" size="3">
                </div>
            </div>
        </div>

        <div class="box" style="height:100px; flex-grow:1;" >

        </div>
    </div>
</div>