<div class="tab-title">Personnage</div>
<div class="attributes">
    <div class="box left">
        
        <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div class="field" style="display:flex;flex-direction:row;justify-content:flex-start;align-items:center">
                <label>Age :</label>                
                <input type="text" maxlength="3" placeholder="---" style="width:30px;">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                <label for="taillem">Taille :</label>
                <input id="taillem" type="text" maxlength="2" placeholder="--" style="width:25px;text-align:end;">
                <label for="taillecm">m</label>
                <input id="taillecm" type="text" maxlength="2" placeholder="--" style="width:25px">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
                <label>Sexe :</label>
                <input type="text" maxlength="1" placeholder="-" style="width:10px;text-align:end;">
            </div>
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div style="display:flex;flex-direction:row;justify-content:flex-start;align-items:center">
                <label>Race :</label>                
                <input type="text" maxlength="14" placeholder="------------------" style="width:110px;">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
                <label>Poids :</label>
                <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:end;">
                <label class="field" for="taillecm">Kg</label>
            </div>
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-start">        
            <label>Nom :</label>                
            <input type="text" name="name" value="{{actor.name}}" maxlength="24" placeholder="-------------------------------------" style="flex-grow:1">            
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-start">        
            <label style="align-self:flex-start">Langue :</label>                
            <textarea maxlength="50" rows="2" style="flex-grow:1; padding-block: unset;" placeholder="--------------------------------------------------"></textarea>
        </div>        

    </div>

    <div class="right">
        <div class="box racial">
            <div style="font-size:1rem; color:white; align-self:center;">Capacité Raciale</div>
            <textarea maxlength="50" rows="4" style="padding-block: unset;" placeholder="--------------------------------------------------"></textarea>
        </div>
        <div class="speed" style="display:flex; flex-direction:row; justify-content:flex-end; padding:10px;">
            <div style="height:80px;width:80px;"></div>
            <div class="box" style="height:70px;width:70px;justify-content: center; align-items:center">                                              
                <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:center">
                <label>mètres</label>  
            </div>
            <div style="height:70px;width:70px;display:flex;flex-direction:row;justify-content: center;align-items: center;">
                <label style="margin-inline-start: 10px; margin-block-start: 5px;">-</label>  
                <input type="text" maxlength="2" placeholder="--" style="width:30px;text-align:start;margin-block-start: 5px;">
            </div>
        </div>
    </div>
</div>

<div class="rowStats-1">
    <div>
        <label>Force</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Dextérité</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="rowStats-2">
    <div>
        <label>Constitution</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Arcane</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="hpmp">
    <div class="hp">
        <input type="text" maxlength="3" placeholder="---">
        <label>/</label>
        <input type="text" maxlength="3" placeholder="---">
        <label>HP</label>
    </div>
    <img class="avatar" src="{{actor.img}}" data-edit="img"></img>
    <div class="mp">
        <label>MP</label>
        <input type="text" maxlength="3" placeholder="---">
        <label>/</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>
</div>

<div class="rowStats-3">
    <div>
        <label>Esquive</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Parade</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="rowStats-4">
    <div>
        <label>Charisme</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Erudition</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="level">
    <label>lvl</label>
    <input type="text" maxlength="2" placeholder="--">
    <div class="xp">
        <input type="text" maxlength="5" placeholder="-----">
        <label>/</label>
        <input type="text" maxlength="5" placeholder="-----">
    </div>
</div>

<div class="bonusStats">
    <div class="attacks">        

        <div class="perforant">
            <img></img>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="tranchant">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="contondant">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div></div>

        <div class="feu">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="eau">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="nature">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="air">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="occulte">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="spirituel">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="lumiere">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="tenebre">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>                                                                
    </div>

    <div class="defense">
        <div></div>
        
        <div class="perforant">
            <img></img>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="tranchant">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="contondant">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="feu">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="eau">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="nature">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="air">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="occulte">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="spirituel">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="lumiere">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>

        <div class="tenebre">
            <img/>
            <input type="text" maxlength="2" placeholder="--">
        </div>  
    </div>
</div>