<div class="tab-title">Personnage</div>
<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; height:200px">
    <div class="box" style="height:fit-content; flex-basis:255px;" >
        
        <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div class="field" style="display:flex;flex-direction:row;justify-content:flex-start;align-items:center">
                <label>Age :</label>                
                <input type="text" maxlength="3" placeholder="---" style="width:30px;">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                <label for="taillem">Taille :</label>
                <input id="taillem" type="text" maxlength="2" placeholder="--" style="width:25px;text-align:end;">
                <label for="taillecm">m</label>
                <input id="taillecm" type="text" maxlength="2" placeholder="--" style="width:25px">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
                <label>Sexe :</label>
                <input type="text" maxlength="1" placeholder="-" style="width:10px;text-align:end;">
            </div>
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div style="display:flex;flex-direction:row;justify-content:flex-start;align-items:center">
                <label>Race :</label>                
                <input type="text" maxlength="14" placeholder="------------------" style="width:110px;">
            </div>
            <div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
                <label>Poids :</label>
                <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:end;">
                <label class="field" for="taillecm">Kg</label>
            </div>
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-start">        
            <label>Nom :</label>                
            <input type="text" maxlength="24" placeholder="-------------------------------------" style="flex-grow:1">            
        </div>

        <div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-start">        
            <label style="align-self:flex-start">Langue :</label>                
            <textarea maxlength="50" rows="2" style="flex-grow:1; padding-block: unset;" placeholder="--------------------------------------------------"></textarea>
        </div>        

    </div>

    <div style="display:flex;flex-direction:column;flex-basis:255px;">
        <div class="box" style="height:fit-content;">
            <div style="font-size:1rem; color:white; align-self:center;">Capacité Raciale</div>
            <textarea maxlength="50" rows="4" style="padding-block: unset;" placeholder="--------------------------------------------------"></textarea>
        </div>
        <div class="speed" style="display:flex; flex-direction:row; justify-content:flex-end; padding:10px;">
            <div style="height:80px;width:80px;"></div>
            <div class="box" style="height:70px;width:70px;justify-content: center; align-items:center">                                              
                <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:center">
                <label>mètres</label>  
            </div>
            <div style="height:70px;width:70px;display:flex;flex-direction:row;justify-content: center;align-items: center;">
                <label style="margin-inline-start: 10px; margin-block-start: 5px;">-</label>  
                <input type="text" maxlength="2" placeholder="--" style="width:30px;text-align:start;margin-block-start: 5px;">
            </div>
        </div>
    </div>
</div>
<div class="avatar"></div>
<div class="rowStats1">
    <div>
        <label>Force</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Dextérité</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="rowStats2">
    <div>
        <label>Constitution</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Arcane</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; position:relative;top:-30px;height:50px">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%; position: relative; right: 155px;">
        <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:end">
        <label style="width:10px; text-align:center;">/</label>
        <input type="text" maxlength="3" placeholder="---" style="width:30px; margin-inline-end: 20px;">
        <label style="align-self: flex-start; font-size: 18px; color: red; text-shadow: 0px 0px 5px #000000; font-weight: bold;">HP</label>
    </div>
    <div style="display:flex; flex-direction:row; justify-content: center; align-items: center; position:relative; left:160px; height: 50px;">
        <label style="margin-inline-end: 20px; align-self: flex-start; font-size: 18px; color: blue; text-shadow: 0px 0px 4px #ffffff; font-weight: bold;">MP</label>
        <input type="text" maxlength="3" placeholder="---" style="width:30px;text-align:end">
        <label style="width:10px; text-align:center;">/</label>
        <input type="text" maxlength="3" placeholder="---" style="width:30px;">
    </div>
</div>

<div class="rowStats3">
    <div>
        <label>Esquive</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Parade</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="rowStats4">
    <div>
        <label>Charisme</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
    <div>
        <label>Erudition</label>
        <input type="text" maxlength="2" placeholder="--">
    </div>
</div>

<div class="level" style="display:flex;flex-direction:column; align-items:center; position: relative; top:-55px; z-index: 10;">
    <label style="margin-block-end: 5px;">lvl</label>
    <input type="text" maxlength="2" placeholder="--" style="width:20px; text-align: center; background-size: contain; background-position: center; width: 40px; height: 40px; box-shadow: 0px 0px 10px 5px green; border-radius: 50%; margin-top:5px;">
    <div style="display:flex; flex-direction:row; margin-block-start: 5px;">
        <input type="text" maxlength="5" placeholder="-----" style="width:50px; text-align: end;">
        <label style="align-self:center;">/</label>
        <input type="text" maxlength="5" placeholder="-----" style="width:50px; text-align: start;">
    </div>
</div>

<div style="display: flex; flex-direction:row; justify-content: center width: 100%; position: absolute; height: 185px; bottom: 35px;">    
    <div style="width:255px; height:100%; position:relative; right:32px; display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr);">
        <div style="width:100%; height:100%; display:flex; flex-direction:column; justify-content: center; align-items: center; overflow: hidden;"> <!-- background-image: url('systems/custom/ui/character/perforant.webp'); background-size: contain; background-repeat: no-repeat;">-->
            <div style="width:50px; height:50px; background-size: contain; background-repeat: no-repeat; background-image: url('systems/custom/ui/character/perforant.webp'); z-index: 10;"></div>
            <input type="text" maxlength="2" placeholder="--" style="width:20px; text-align: center; background-size: contain; background-position: center; width: 30px; height: 30px; box-shadow: 0px 0px 20px 4px black; border-radius: 50%; position: relative; top:-10px">
        </div>
        <div style="width:100%; height:100%; background-color: aquamarine;"></div>
        <div style="width:100%; height:100%; background-color: black;"></div>
        <div style="width:100%; height:100%; background-color: brown;"></div>
        <div style="width:100%; height:100%; background-color: blue;"></div>
        <div style="width:100%; height:100%; background-color: coral;"></div>
        <div style="width:100%; height:100%; background-color: cornflowerblue;"></div>
        <div style="width:100%; height:100%; background-color: darkgoldenrod;"></div>
        <div style="width:100%; height:100%; background-color: darkorchid;"></div>
        <div style="width:100%; height:100%; background-color: dodgerblue;"></div>
        <div style="width:100%; height:100%; background-color: forestgreen;"></div>
        <div style="width:100%; height:100%; background-color: hotpink;"></div>
    </div>
    <div style="width:255px; height:100%; background-color: blue; position:relative; left:32px">

    </div>
</div>