<div class="tab-title">Equipement</div>
<div style="display:flex; flex-direction: row; width:100%; flex-basis:350px; overflow: visible;">
    <div class="armor">
        <img class="helmet">
        <img class="pendant">
        <img class="torso">
        <img class="legs">
        <img class="leftGlove">
        <img class="rightGlove">
        <img class="leftRing">
        <img class="rightRing">
        <img class="boots">                
    </div>
    <div id="equippedArmor" class="box" style="flex-grow:1; height: 350px; overflow-y: scroll;">
        <div id="helmet" class="item" style="max-height:unset; flex-basis: 150px"> <!--Casque-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Casque :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div>

        <div id="torso" class="item" style="max-height:unset; flex-basis: 150px"> <!--Plastron-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Plastron :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div>

        <div id="gloves" class="item" style="max-height:unset; flex-basis: 150px"> <!--Gants-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Gants :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div> 

        <div id="legs" class="item" style="max-height:unset; flex-basis: 150px"> <!--Jambière-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Jambière :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div> 

        <div id="boots" class="item" style="max-height:unset; flex-basis: 150px"> <!--Bottes-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Bottes :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div> 

        <div id="pendant" class="item" style="max-height:unset; flex-basis: 150px"> <!--Amulette-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Amulette :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div> 

        <div id="leftRing" class="item" style="max-height:unset; flex-basis: 150px"> <!--Anneau 1-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Anneau 1 :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div> 

        <div id="rightRing" class="item" style="max-height:unset; flex-basis: 150px"> <!--Anneau 2-->
            <div class="item-data">
                <div class="multiFields">
                    <div>
                        <label>Anneau 2 :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance" style="display:flex">
                    <label>Resistance :</label>
                    <div style="display:grid; grid-template-columns: repeat(4, 60px); grid-template-rows: repeat(3, 15px); max-height:45px; height: 45px; padding-inline-start: 5px;">
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------" style="height:50px;"></textarea>
                </div>
            </div>
        </div>                                                      
    </div>
</div>

<div class="box" style="width:100%; flex-basis: 200px; overflow-y: scroll; margin-block-start: 20px">
    <div class="item" style="max-height:unset; flex-basis: 80px">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>Arme 1 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item" style="max-height:unset; flex-basis: 80px">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>Arme 2 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item" style="max-height:unset; flex-basis: 80px">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>Arme 3 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>Prix :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Poids :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Type :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>Nombre de main :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>Portée :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>Test :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>Degat :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>Effet supp :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>          
</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/statsSummary.hbs"}}