<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.equipment" }}</div>
<div class="armorRow">
    <div class="armor">
        <img class="helmet">
        <img class="pendant">
        <img class="torso">
        <img class="legs">
        <img class="leftGlove">
        <img class="rightGlove">
        <img class="ring1">
        <img class="ring2">
        <img class="boots">                
    </div>
    <div id="equippedArmor" class="armorContainer">
        {{#with data.data.equipment.armors}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=helmet armorType="helmet" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=torso armorType="torso" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=gloves armorType="gloves" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=legs armorType="legs" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=boots armorType="boots" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=pendant armorType="pendant" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=ring1 armorType="ring1" id=id}}
            {{> "systems/dhs-jdr/templates/equipment/armor.hbs" armor=ring2 armorType="ring2" id=id}}
        {{/with}}
    </div>
</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/weapons.hbs"}}

{{> "systems/dhs-jdr/templates/actors/tabs/parts/character-statsSummary.hbs"}}