<div class="tab-title">Equipement</div>
<div class="armorRow">
    <div class="armor">
        <img class="helmet">
        <img class="pendant">
        <img class="torso">
        <img class="legs">
        <img class="leftGlove">
        <img class="rightGlove">
        <img class="leftRing">
        <img class="rightRing">
        <img class="boots">                
    </div>
    <div id="equippedArmor" class="armorContainer">
        <div id="helmet" class="item"> <!--Casque-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Casque :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div>

        <div id="torso" class="item"> <!--Plastron-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Plastron :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div>

        <div id="gloves" class="item"> <!--Gants-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Gants :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div> 

        <div id="legs" class="item"> <!--Jambière-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Jambière :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div> 

        <div id="boots" class="item"> <!--Bottes-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Bottes :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div> 

        <div id="pendant" class="item"> <!--Amulette-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Amulette :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div> 

        <div id="leftRing" class="item"> <!--Anneau 1-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Anneau 1 :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div> 

        <div id="rightRing" class="item"> <!--Anneau 2-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>Anneau 2 :</label>
                        <input type="text" placeholder="----------">
                    </div>                      
                    <div>
                        <label>Prix :</label>
                        <input type="text" maxlength="5" placeholder="-----">
                    </div>
                    <div>
                        <label>Poids :</label>
                        <input type="text" maxlength="3" placeholder="--">
                    </div>
                </div>

                <div class="field">
                    <label>Type :</label>
                    <input type="text" placeholder="----------">
                </div>

                <div class="resistance">
                    <label>Resistance :</label>
                    <div>
                        <div class="field">
                            <label>Per :</label>
                            <input type="text" placeholder="----------">
                        </div> 

                        <div class="field">
                            <label>Con :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Tra :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div></div>

                        <div class="field">
                            <label>Feu :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Eau :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Nat :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Air :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Occ :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Spi :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Lum :</label>
                            <input type="text" placeholder="----------">
                        </div>   

                        <div class="field">
                            <label>Ten :</label>
                            <input type="text" placeholder="----------">
                        </div>                                                                                                                                                                                                                                                                                                                     
                    </div>
                </div>

                <div class="fieldArea">
                    <label>Effet supp :</label>
                    <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                </div>
            </div>
        </div>                                                      
    </div>
</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/weapons.hbs"}}

{{> "systems/dhs-jdr/templates/actors/tabs/parts/statsSummary.hbs"}}