<div class="tab-title">Inventaire</div>
<div style="display: flex; flex-direction:row; height:165px; width: 100%; align-items: center;">
    <div class="wallet">
        <div></div>
        <div class="box">
            <div>
                <label>PO</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>PA</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>PC</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>            
        </div>
    </div>

    <div class="consumables">
        <div class="header">
            <div></div>
            <label>Consommables</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    </div>    
</div>




<div style="display: flex; flex-direction:row; height:165px; width: 100%; align-items: center;">
    <div style="width:180px; height:100px; display:flex; flex-direction: row; justify-content: center; align-items: center;">
        <div style="display:flex; flex-direction:column; flex-grow:1; height: 100%; justify-content:center; align-items: center;">
            <div style="width:180px; height:100px; display:flex; flex-direction: row; justify-content: center; align-items: center;">
                <div style="height:50px; width:50px; background-image: url('systems/custom/ui/character/poids.webp'); background-size:cover; background-repeat: no-repeat; position:relative; right:10px">
                </div>
                <div class="box" style="height: 70px; width:100px; display:flex; flex-direction:column; justify-content: center; align-items: center; padding: 10px; ">
                    <div style="display:flex; flex-direction:row; width: 100%; justify-content: center; height: 20px;">
                        <label style="align-self: center">Poids</label>
                    </div>

                    <div style="display:flex; flex-direction:row; width: 100%; justify-content: center; align-items: center; height: 20px;">
                        <input type="text" maxlength="3" placeholder="---" style="width:30px; text-align: end;">
                        <label style="align-self: center">/</label>
                        <input type="text" maxlength="3" placeholder="---" style="width:30px; text-align: start;">
                    </div>

                    <div style="display:flex; flex-direction:row; width: 100%; justify-content: center; height: 20px;">
                        <label style="align-self: center">Kg</label>
                    </div>                        
                </div>
            </div>

            <div class="box" style="flex-basis:65px; flex-grow:0; flex-shrink:0; width:100%; margin:10px; margin-inline-end: 20px; padding-inline-start: 15px;">
                <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;">
                    <label>Sac :</label>
                    <input type="text" maxlength="20" placeholder="--------------------" style="flex-grow:1; text-align: start;">
                </div>

                <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-center;">
                    <label>Prix :</label>
                    <input type="text" maxlength="10" placeholder="----------" style="flex-grow:1; text-align: start;">
                </div>

                <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                    <label>Capacité :</label>
                    <input type="text" maxlength="20" placeholder="--------------------" style="flex-grow:1; text-align: start;">
                </div>                                
            </div>            
        </div>
    </div>

    <div class="general">
        <div class="header">
            <div></div>
            <label>Général</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</div>