<div class="tab-title">Inventaire</div>
<div class="itemRow">
    <div class="wallet">
        <div></div>
        <div class="box">
            <div>
                <label>PO</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>PA</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>PC</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>            
        </div>
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>Consommables</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <i class="fas fa-plus-circle addButton"></i>              
        </div>
    </div>    
</div>

<div class="generalRow">
    <div class="left">        
        <div class="weight">
            <div>
            </div>
            <div class="box">
                <div>
                    <label>Poids</label>
                </div>

                <div>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>

                <div>
                    <label>Kg</label>
                </div>                    
            </div>
        </div>

        <div class="bag">
            <div>
                <label>Sac :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>

            <div>
                <label>Prix :</label>
                <input type="text" maxlength="10" placeholder="----------">
            </div>

            <div>
                <label>Capacité :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>                
        </div>            
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>Général</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>Nom :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>kg</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effets :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <i class="fas fa-plus-circle addButton"></i>              
        </div>
    </div>
</div>

<div class="equipmentRow">
    <div class="left">
        <div class="rest">
            <div>
            </div>
            <div class="box">                
                <label>Repos naturel</label>                

                <div>
                    <label>HP</label>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/ h</label>                    
                </div>

                <div>
                    <label>MP</label>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/ h</label>                    
                </div>                  
            </div>
        </div>

        <div class="tent">
            <div class="field">
                <label>Tente :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="multiFields-spaced">
                <label>Prix :</label>
                <input type="text" placeholder="------">
                <label>Poids :</label>
                <input type="text" placeholder="------">                
            </div>
            <div class="field">
                <label>Repos :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="fieldArea">
                <label>Bonus :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
            <div class="field">
                <label>Duvet :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="multiFields-spaced">
                <label>Prix :</label>
                <input type="text" placeholder="------">
                <label>Poids :</label>
                <input type="text" placeholder="------">                
            </div>            
            <div class="field">
                <label>Repos :</label>
                <input type="text" placeholder="----------">
            </div>                        
            <div class="fieldArea">
                <label>Bonus :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="right">
       <div class="header">
            <div></div>
            <label>Equipement</label>
        </div>

        <div class="container">
            <div class="item"> <!--Armure-->
                <div class="item-data">
                    <div class="field">
                        <label>Armure :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">                        
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                        </div>
                    </div>

                    <div class="field">
                        <label>Type :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="resistance">
                        <label>Resistance :</label>
                        <div>
                            <div class="field">
                                <label>Per :</label>
                                <input type="text" placeholder="----------">
                            </div> 

                            <div class="field">
                                <label>Con :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Tra :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div></div>

                            <div class="field">
                                <label>Feu :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Eau :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Nat :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Air :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Occ :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Spi :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Lum :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Ten :</label>
                                <input type="text" placeholder="----------">
                            </div>                                                                                                                                                                                                                                                                                                                     
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effet supp :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item"> <!--Arme-->
                <div class="item-data">
                    <div class="field">
                        <label>Arme :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>

                        <div>
                            <label>Type :</label>
                            <input type="text" maxlength="20" placeholder="--------------------">
                        </div>                        
                    </div>

                    <div class="multiFields-start">
                        <div>
                            <label>Nombre de main :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>Portée :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>

                        <div>
                            <label>Test :</label>
                            <input type="text" maxlength="20" placeholder="--------------------">
                        </div>                        
                    </div>                    

                    <div class="field">
                        <label>Degat :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="fieldArea">
                        <label>Effet supp :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>                        

            <!--MockData-->

            <div class="item"> <!--Armure-->
                <div class="item-data">
                    <div class="field">
                        <label>Armure :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">
                        <div>
                            <label>Prix :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>Poids :</label>
                            <input type="text" maxlength="2" placeholder="--">
                        </div>
                    </div>

                    <div class="field">
                        <label>Type :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="resistance">
                        <label>Resistance :</label>
                        <div>
                            <div class="field">
                                <label>Per :</label>
                                <input type="text" placeholder="----------">
                            </div> 

                            <div class="field">
                                <label>Con :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Tra :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div></div>

                            <div class="field">
                                <label>Feu :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Eau :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Nat :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Air :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Occ :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Spi :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Lum :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>Ten :</label>
                                <input type="text" placeholder="----------">
                            </div>                                                                                                                                                                                                                                                                                                                     
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>Effet supp :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>            

            <div class="addEquipmentRow">
                <div class="addArmorButton">                  
                    <i class="fas fa-plus-circle"></i>
                </div>

                <div class="addWeaponButton">                  
                    <i class="fas fa-plus-circle"></i>
                </div>              
            </div>
        </div>
    </div>
</div>